body {
    background-color: rgb(219, 219, 255);
    margin: 0;
    padding: 48px;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

.hidden {
    display: none;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    background-color: rgb(74, 74, 255);
    height: 100%;
    width: 15%;
    padding: 16px;
    box-sizing: border-box;
}

.main {
    background-color: aquamarine;
    height: 100%;
    width: 85%;
    padding: 16px;
    box-sizing: border-box;
    font-size: 24px;;
}

.ProjectList {
    font-size: 24px;
}